<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Dinamotors de Venezuela</title>
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
  </head>

  <body>
    <header>
      <figure class="logo">
        <img src="./assets/img/logo.png" alt="Dinamotors de Venezuela">
      </figure>
      <section class="networks">
        <ul class="social-icons">
          <li class="social-effect">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li class="social-effect">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li class="social-effect">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
        </ul>
      </section>
    </header>
    <nav id="nav">
      <span class="toggle-menu">Menú</span>
      <ul class="navbar">
        <li class="nav-link"><a href="#company">Empresa</a></li>
        <li class="nav-link"><a href="#services">Servicios</a></li>
        <li class="nav-link"><a href="#location">Ubicación</a></li>
        <li class="nav-link"><a href="#contact">Contáctanos</a></li>
      </ul>
    </nav>
    <div class="blue-container"></div>
    <section id="container-2">
      <ul id="slides">
        <li class="slide showing">
          <img src="http://i.imgur.com/KQSNKcO.png" />
        </li>
        <li class="slide">
          <img src="https://developer.playphone.com/App/Landing/img/main-slide-1.png" />
        </li>
        <li class="slide">
          <img src="https://developer.playphone.com/App/Landing/img/main-slide-2.png" />
        </li>
      </ul>
      <div class="buttons">
        <button class="controls" id="previous"><i class="fa fa-chevron-circle-left " aria-hidden="true"></i></button>
        <button class="controls" id="next"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
      </div>
    </section>
    <div class="blue-container"></div>
    <section id="company">
      <div class="container-company text-center">
        <div class="titles">
          <h2 class="blue-underline companyTitle">La Empresa</h2>
        </div>
        <div class="flex-company m-t-lg">
          <div class="col left-effect">
            <div class="icon-company left-effect">
              <div class="hexagon">
                <i class="fa fa-briefcase fa-4x wrapper-xs" aria-hidden="true"></i>
              </div>
            </div>
            <div class="content-company left-effect">
              <article >
                <div class="left-effect">
                  <h3 class="text-center">Misión</h3>
                </div>
                <div class="left-effect">
                  <p>
                    Prestar Servicios de Reparación y Mantenimiento de Máquinas Eléctricas Rotativas, satisfaciendo las necesidades del cliente, superando sus expectativas, a través de la incorporación permanente de avances tecnológicos en nuestros procesos.
                  </p>
                </div>
              </article>
            </div>
          </div>
          <div class="col right-effect">
            <div class="icon-company right-effect">
              <div class="hexagon">
                <i class="fa fa-briefcase fa-4x wrapper-xs" aria-hidden="true"></i>
              </div>
            </div>
            <div class="content-company right-effect">
              <article >
                <div class="right-effect">
                  <h3 class="text-center">Visión</h3>
                </div>
                <div class="right-effect">
                  <p>
                    Ser referencia de Calidad Total a nivel Nacional en el Servicio de Reparación y Mantenimiento de Máquinas Eléctricas Rotativas, alcanzando y manteniendo el liderazgo en nuestro mercado de actuación.
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="services">
      <div class="container-service text-center">
        <div class="services-dm">
          <h2 class="title-underline"> Servicios</h2>
        </div>
        <div class="flex-services m-t-lg">
          <div class="col services-dm">
            <div class="circle">
              <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            </div>
            <article >
              <h3 class="text-center"> Sericio 1</h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel mollitia ea repudiandae consectetur quo modi ratione, odit, quis deleniti aliquam voluptate debitis. Delectus hic, nisi rem cum libero pariatur.
            </article>
          </div>
          <div class="col services-dm">
            <div class="circle">
              <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            </div>
            <article >
              <h3 class="text-center"> Sericio 2</h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel mollitia ea repudiandae consectetur quo modi ratione, odit, quis deleniti aliquam voluptate debitis. Delectus hic, nisi rem cum libero pariatur.
            </article>
          </div>
          <div class="col services-dm">
            <div class="circle">
              <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            </div>
            <article >
              <h3 class="text-center"> Sericio 3</h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel mollitia ea repudiandae consectetur quo modi ratione, odit, quis deleniti aliquam voluptate debitis. Delectus hic, nisi rem cum libero pariatur.
            </article>
          </div>
          <div class="col services-dm">
            <div class="circle">
             <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            </div>
            <article >
              <h3 class="text-center"> Sericio 4</h3>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel mollitia ea repudiandae consectetur quo modi ratione, odit, quis deleniti aliquam voluptate debitis. Delectus hic, nisi rem cum libero pariatur.
            </article>
          </div>
        </div>
      </div>
    </section>
    <section id="location">
      <div class="text-center text-blue p-sm titles">
        <h2 class="blue-underline">Ubicanos</h2>
      </div>
      <map name="dinamotorsDeVenezuela" class="m-t-lg">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1963.526749540634!2d-67.981988!3d10.176307!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8067960064ba83%3A0xead6d7286e4f5c24!2sDinamotors+de+Venezuela+C.A!5e0!3m2!1ses-419!2s!4v1470626662637" frameborder="0" style="border:0" allowfullscreen></iframe>
      </map>
    </section>
    <section id="contact">
      <div class="contact-container">
        <div class="col p-sm left-effect">
          <div class="left-effect">
            <h2 class="title-underline"> Dinamotors de Venezuela, C.A.</h2>
          </div>
          <div class="contact-info m-t-lg left-effect">
            <h3>Dirección.</h3>
            <p> Zona Industrial Municipal Norte, Avenida Este - Oeste 2, Centro de Galpones ABC, Galpón C4 y C5, Código Postal 2003 Valencia, Edo. Carabobo</p>
          </div>
          <div class="contact-info left-effect">
            <h3>Teléfonos.</h3>
            <span>(+58) 241 - 832.84.20</span>
            <span>(+58) 241 - 832.89.18</span>
            <span>(+58) 241 - 832.68.05</span>
          </div>
          <div class="contact-info left-effect">
            <h3>Email.</h3>
            <a href="mailto:dinamotorsdevenezuela@gmail.com"> dinamotorsdevenezuela@gmail.com</a>
          </div>
          <div class="contact-info left-effect">
            <div class="follow-us">
              <div>
                <h3>Siguenos</h3>
              </div>
              <div class="networks">
                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-form col p-sm right-effect">
          <div>
            <h2 class="title-underline right-effect"> Contáctanos</h2>
          </div>
          <form class="m-t-lg" id="form">
            <div class="contact-inputs right-effect">
              <input class="contact-input" type="text" id="name" name="name" placeholder="Nombre" required="true">
            </div>
            <div class="contact-inputs right-effect">
              <input class="contact-input" type="email" id="email" name="from" placeholder="Email" required="true">
            </div>
            <div class="contact-inputs right-effect">
              <input class="contact-input" type="text" id="subject" name="subject" placeholder="Asunto" required="true">
            </div>
            <div class="contact-inputs right-effect">
              <textarea class="contact-input" name="body" id="message" cols="30" rows="10" placeholder="Mensaje" required="true"></textarea>
            </div>
            <!-- <a id="sendMail" class="contact-send" > Enviar</a> -->
            <input  class="contact-send right-effect" type="submit" value="Enviar">
          </form>
        </div>
      </div>
    </section>
    <link rel="stylesheet" href="assets/css/app.min.css">
    <script src="https://use.fontawesome.com/ceaf262011.js"></script>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>

</html>
