<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Dinamotors de Venezuela</title>
    <link rel="stylesheet" href="assets/css/app.min.css">
  </head>

  <body>
    <header></header>
    <div class="container">
      <nav id="nav"></nav>
      <section id="gallery"></section>
      <section id="services"></section>
      <section id="location"></section>
      <section id="contact"></section>
    </div>
    <footer></footer>
    <script src="https://use.fontawesome.com/ceaf262011.js"></script>
    <script src="js/app.min.js"></script>
  </body>

</html>
