<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="description" content="Taller electomecánica industrial, reparación y mantenimiento de maquinas eléctricas rotativas" />
    <meta name="keywords" content="dinamotors de venezuela, electomecanica, maquinas, rotativas, taller, mantenimiento de maquinas" />
    <meta name="robots" content="index,follow" />
    <meta name="date" content="Aug 15, 2016" />
    <meta name="author" content="Digital Company Developers" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Dinamotors de Venezuela C.A">
    <meta property="og:image" content="assets/img/share.png">
    <meta property="og:description" content="Taller electomecánica industrial, reparación y mantenimiento de maquinas eléctricas rotativas">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Dinamotors de Venezuela</title>
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
    <style>
      .logo{
        display: inline-block;
        margin: 0 25% 0 0;
        padding: 0;
        vertical-align: middle;
      }
      .logo img{
        width: 250px;
      }
      .networks{
        display: inline-block;
        margin-left: 25%;
        vertical-align: middle;
      }
      .social-icons{
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .social-icons li{
        display: inline-block;
      }
      nav{
        background-color: #006aa7;
        padding: 20px 25px;
      }
      ul{
        list-style: none;
      }
      .navbar{
        list-style: none;
        margin: 0;
        text-align: center;
      }
      .navbar li{
        display: inline-block;
        margin:  0 30px;
        vertical-align: center;
      }
      .navbar li a{
        color: #fff;
        padding: 0 5px 5px;
      }
      .blue-container{
        width: 100%;
        height: 10px;
        background-color: rgb(0, 105, 167);
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .toggle-menu{
        display: none;
      }
    </style>
  </head>
  <body>
    <header>
      <figure class="logo">
        <img src="./assets/img/logo.png" alt="Dinamotors de Venezuela">
      </figure>
      <section class="networks">
        <ul class="social-icons">
          <li class="social-effect">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li class="social-effect">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li class="social-effect">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
        </ul>
      </section>
    </header>
    <nav id="nav">
      <span class="toggle-menu">Menú</span>
      <ul class="navbar">
        <li class="nav-link"><a href="#company">Empresa</a></li>
        <li class="nav-link"><a href="#security">Seguridad</a></li>
        <li class="nav-link"><a href="#services">Servicios</a></li>
        <li class="nav-link"><a href="#location">Ubicación</a></li>
        <li class="nav-link"><a href="#contact">Contáctanos</a></li>
      </ul>
    </nav>
    <div class="blue-container"></div>
    <section id="container-2">
      <ul id="slides">
        <li class="slide showing">
          <img src="http://i.imgur.com/OPF9SWi.jpg" />
        </li>
        <li class="slide">
          <img src="http://i.imgur.com/QNZrWGU.png" />
        </li>
        <li class="slide">
          <img src="http://i.imgur.com/KhpbcAK.jpg" />
        </li>
        <li class="slide">
          <img src="http://i.imgur.com/Nagcb75.jpg" />
        </li>
      </ul>
      <div class="buttons">
        <a class="controls" id="previous"><i class="fa fa-chevron-circle-left " aria-hidden="true"></i></a>
        <a class="controls" id="next"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
      </div>
    </section>
    <div class="blue-container"></div>
    <section id="company">
      <div class="container-enterprise text-center">
        <div class="titles">
          <h1 class="title-underline-blue">Dinamotors de Venezuela</h1> <span class="special-span title-underline-blue">, C.A</span>
        </div>
        <div class="container-text">
          <div class="w-70 description vertical-align text-left left-effect">
            <p>Dinamotors de Venezuela, C.A., (antes Dinamotors, C.A.), con una trayectoria de cuarenta años (40) de experiencia en el ramo de Electromecánica Industrial  (Reparación de maquinas Eléctricas Rotativas),  la cual desde sus inicios comenzaría a llenar el vacío que existía para ese momento en este rubro,  ya que el pujante desarrollo Industrial del Edo. Carabobo, y ciudades circunvecinas  exigían empresas de este tipo. Actualmente contamos con equipos  y tecnología avanzada para así generar la satisfacción  de las necesidades y exigencias de nuestros clientes con el propósito de superar sus expectativas. Somos una empresa, cuya actividad económica principal es la Electromecánica Industrial, esta comprende los siguientes aspectos:, Mantenimiento y Reparación de Máquinas Eléctricas Rotativas corriente alterna (AC) y corriente continua (DC).</p>
          </div>
          <div class="w-30 icon right-effect vertical-align">
            <img src="./assets/img/quality.png" alt="Dinamotors de Venezuela 40 años de Calidad">
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-company text-center">
        <div class="titles">
          <h2 class="blue-underline companyTitle">La Empresa</h2>
        </div>
        <div class="flex-company m-t-lg">
          <div class="col baseline left-effect">
            <div class="icon-company services-dm left-effect">
              <div class="hexagon">
                <i class="dina dina-company-m display-block font-60x wrapper-xs" aria-hidden="true"></i>
              </div>
            </div>
            <div class="content-company left-effect">
              <article >
                <div class="left-effect">
                  <h3 class="text-center">Misión</h3>
                </div>
                <div class="left-effect">
                  <p>
                    Prestar Servicios de Reparación y Mantenimiento de Máquinas Eléctricas Rotativas, satisfaciendo las necesidades del cliente, superando sus expectativas, a través de la incorporación permanente de avances tecnológicos en nuestros procesos.
                  </p>
                </div>
              </article>
            </div>
          </div>
          <div class="col baseline services-dm">
            <div class="icon-company services-dm">
              <div class="hexagon">
                <i class="dina dina-company-p display-block font-60x wrapper-xs" aria-hidden="true"></i>
              </div>
            </div>
            <div class="content-company services-dm">
              <article >
                <div class="services-dm">
                  <h3 class="text-center">Politica de Calidad</h3>
                </div>
                <div class="services-dm">
                  <p>
                  Prestar Servicios de Reparación y Mantenimiento de Máquinas Eléctricas Rotativas.  Generando la Satisfacción de las necesidades de nuestros clientes, con el propósito de superar sus expectativas, mediante el compromiso de mejorar continuamente nuestro Sistema de Gestión de la Calidad
                  </p>
                </div>
              </article>
            </div>
          </div>
          <div class="col baseline right-effect">
            <div class="icon-company right-effect">
              <div class="hexagon">
                <i class="dina dina-company-v font-60x wrapper-xs" aria-hidden="true"></i>
              </div>
            </div>
            <div class="content-company right-effect">
              <article >
                <div class="right-effect">
                  <h3 class="text-center">Visión</h3>
                </div>
                <div class="right-effect">
                  <p>
                  Ser referencia de Calidad Total a nivel Nacional en el Servicio de Reparación y Mantenimiento de Máquinas Eléctricas Rotativas, alcanzando y manteniendo el liderazgo en nuestro mercado de actuación.
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="security">
      <div class="container-enterprise text-center">
        <div class="titles">
          <h2 class="title-underline-blue">Politica de Seguridad</h2>
        </div>
        <div class="container-text">
          <div class="w-30 icon right-effect vertical-align"">
            <img src="./assets/img/medal.png" alt="Politica de Seguridad">
          </div>
          <div class="w-70 description vertical-align text-left left-effect"">
            <p>Dinamotors de Venezuela, C.A., como organización está comprometida a mantener las condiciones de seguridad, salud y bienestar en un ambiente de trabajo adecuado y propicio para el ejercicio pleno de sus facultades físicas y mentales, mediante la promoción de trabajo seguro y saludable.</p>

            <p>Aplicar mejoras continuas de las actividades que impliquen riesgos a los trabajadores, con el objetivo de controlarlos y evaluarlos, para evitar la ocurrencia de accidentes, enfermedades ocupacionales y daños a la propiedad.</p>
            <p>Desarrollar y aplicar programas en las áreas de prevención, recreación y deporte a través de la capacitación de nuestro personal.</p>
            <p>Adoptar y desarrollar nuevas tecnologías compatibles con respecto al medio ambiente y la mejora continua de las condiciones de trabajo.</p>
            <p>Estableciendo objetivos para minimizar las lesiones sin pérdida de tiempo y ser una organización cero (0) accidentes, mediante la promoción de la cultura hacia la seguridad integral, concientizando y capacitando a las personas que laboran en la empresa en materia de Seguridad y salud laboral</p>
          </div>

        </div>
      </div>
    </section>
    <section id="services">
      <div class="container-service text-center">
        <div class="services-dm">
          <h2 class="title-underline"> Servicios</h2>
        </div>
        <div class="flex-services m-t-lg">
          <div class="col baseline services-dm">
            <div class="circle">
              <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            </div>
            <article >
              <h4 class="text-center">Mantenimiento de Maquinas Eléctricas Rotativas, Corriente  Alterna (AC) y Corriente Continua (DC)</h4>
            </article>
          </div>
          <div class="col baseline services-dm">
            <div class="circle">
              <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            </div>
            <article >
              <h4 class="text-center">Rebobinado de Maquinas Eléctricas Rotativas, Corriente  Alterna (AC) y Corriente Continua (DC)</h4>
            </article>
          </div>
          <div class="col baseline services-dm">
            <div class="circle">
              <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            </div>
            <article >
              <h4 class="text-center">Balanceo Dinámico de Rotores, Ejes y   Aspas Ventiladores</h4>
            </article>
          </div>
          <div class="col baseline services-dm">
            <div class="circle">
             <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            </div>
            <article >
              <h4 class="text-center">Mecanizado y  Fabricación de piezas mecánicas (Torno y Fresa)</h4>
            </article>
          </div>
          <div class="col baseline services-dm">
            <div class="circle">
             <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
            </div>
            <article>
              <h4 class="text-center">Prueba de Aislamiento de las Maquinas Eléctricas Rotativas, diagnostico del devanado o núcleo (Punto Caliente)</h4>
            </article>
          </div>
        </div>
      </div>
    </section>
    <section id="location">
      <div class="text-center text-blue p-sm titles">
        <h2 class="blue-underline">Ubicanos</h2>
      </div>
      <map name="dinamotorsDeVenezuela" class="m-t-lg">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1963.526749540634!2d-67.981988!3d10.176307!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8067960064ba83%3A0xead6d7286e4f5c24!2sDinamotors+de+Venezuela+C.A!5e0!3m2!1ses-419!2s!4v1470626662637" frameborder="0" style="border:0" allowfullscreen></iframe>
      </map>
    </section>
    <section id="contact">
      <div class="contact-container">
        <div class="col p-sm contact-dm">
          <div class="contact-dm">
            <h1 class="title-underline">Dinamotors de Venezuela</h1> <span class="special-span title-underline">, C.A</span>
          </div>
          <div class="contact-info m-t-lg contact-dm">
            <h3>Dirección.</h3>
            <p> Zona Industrial Municipal Norte, Avenida Este - Oeste 2, Centro de Galpones ABC, Galpón C4 y C5, Código Postal 2003 Valencia, Edo. Carabobo</p>
          </div>
          <div class="contact-info contact-dm">
            <h3>Teléfonos.</h3>
            <span>(+58) 241 - 832.84.20</span>
            <span>(+58) 241 - 832.89.18</span>
            <span>(+58) 241 - 832.68.05</span>
          </div>
          <div class="contact-info contact-dm">
            <h3>Email.</h3>
            <a href="mailto:dinamotorsdevenezuela@gmail.com"> dinamotorsdevenezuela@gmail.com</a>
          </div>
          <div class="contact-info contact-dm">
            <div class="follow-us">
              <div>
                <h3>Siguenos</h3>
              </div>
              <div class="networks">
                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-form col p-sm contact-forms">
          <div>
            <h2 class="title-underline contact-forms"> Contáctanos</h2>
          </div>
          <form class="m-t-lg login contact-forms" id="form">
            <div class="input contact-forms">
              <input type="text" placeholder="Nombre" id="name" name="name" required="true">
              <span><i class="fa fa-user"></i></span>
            </div>
            <div class="input contact-forms">
              <input type="email" placeholder="Email" id="email" name="from" required="true">
              <span><i class="fa fa-envelope"></i></span>
            </div>
            <div class="input contact-forms">
              <input type="text" placeholder="Asunto" id="subject" name="subject" required="true">
              <span><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <div class="input contact-forms">
              <textarea name="body" id="message" cols="30" rows="10" placeholder="Mensaje" required="true"></textarea>
              <span><i class="fa fa-align-left"></i></span>
            </div>
            <input  class="contact-send contact-forms" type="submit" value="Enviar">
          </form>
        </div>
      </div>
    </section>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/app.min.css">
    <link rel="stylesheet" href="assets/css/icons.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>

</html>
