<div class="container-service text-center">
  <h2 class="title-underline"> Servicios</h2>
  <div class="flex-services m-t-lg">
    <div class="col">
      <div class="circle">
        <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
      </div>
      <article >
        <h3 class="text-center"> Sericio 1</h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel mollitia ea repudiandae consectetur quo modi ratione, odit, quis deleniti aliquam voluptate debitis. Delectus hic, nisi rem cum libero pariatur.
      </article>
    </div>
    <div class="col">
      <div class="circle">
        <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
      </div>
      <article >
        <h3 class="text-center"> Sericio 2</h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel mollitia ea repudiandae consectetur quo modi ratione, odit, quis deleniti aliquam voluptate debitis. Delectus hic, nisi rem cum libero pariatur.
      </article>
    </div>
    <div class="col">
      <div class="circle">
        <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
      </div>
      <article >
        <h3 class="text-center"> Sericio 3</h3> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel mollitia ea repudiandae consectetur quo modi ratione, odit, quis deleniti aliquam voluptate debitis. Delectus hic, nisi rem cum libero pariatur.
      </article>
    </div>
        <div class="col">
      <div class="circle">
       <i class="fa fa-briefcase fa-3x" aria-hidden="true"></i>
      </div>
      <article >
        <h3 class="text-center"> Sericio 4</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam vel mollitia ea repudiandae consectetur quo modi ratione, odit, quis deleniti aliquam voluptate debitis. Delectus hic, nisi rem cum libero pariatur.
      </article>
    </div>
  </div>
</div>
