nav
  background-color $bg-color
  padding 20px 25px
  span.toggle-menu
    color #fff
    display none
    &:hover
      cursor pointer
  ul.navbar
    list-style none
    margin 0
    text-align center
    li
      display inline-block
      margin  0 30px
      vertical-align center
      a
        color #fff
        padding 0 5px 5px
        position relative
        text-decoration none
        transition all 0.7s ease
        transform scale(1.3)
        &:before
          content ""
          position absolute
          width 100%
          height 2px
          bottom 0
          left 0
          background-color #fff
          visibility hidden
          transform scaleX(0)
          transition all 0.3s ease-in-out 0s
        &:hover:before
          visibility visible
          transform scaleX(1)
      @media (max-width: 700px)
        margin 0 20px
    @media (min-width: 601px)
      display block !important

@media (max-width: 600px)
  nav
    padding 0
    span.toggle-menu
      display block
      padding 15px
    ul.navbar
      display none
      background-color #025a89
      padding 0
      text-align left
      li
        display block
        margin 0
        padding  15px
        &:hover
          background-color #049ff2
