.container-enterprise
  app-bg(font-white, font-blue)
  padding 40px
  height 50vh
  display block
  .container-text
  	width 100%
  	margin-top 40px
		.description
			width 80%
			float left
			color font-black
		.icon
			width 20%
			float right
			img
				height 200px

@media (max-width: 991px)
  .container-enterprise
    height 700px
    .container-text
      .icon
        width 100%
        height 100%
      .description
        width 100%
        height 100%