.container-service
  app-bg(blue-block, font-white)
  padding 20px
  .flex-services
    margin-top 3em
    min-height 50vh
    display flex
    flex-row-wrap()
    justify-content center
    align-items center
    color white-block
    article
      padding 20px
      text-align justify
    .circle
      border-radius 100%
      border 2px solid font-white
      width 120px
      min-height 120px
      height 120px
      margin 0 auto
      // line-height 50px
      // padding 20px
      position relative
      img
        min-width 120px
        min-height 120px
        max-width 120px
        max-height 120px
        border-radius 100%

@media (max-width: 800px)
  .container-service
    .col
      flex 1 1 auto
