.container-service
  app-bg(blue-block, font-white)
  padding 20px
  .flex-services
    margin-top 3em
    min-height 50vh
    display flex
    flex-row-wrap()
    justify-content center
    align-items center
    color white-block
    article
      padding 20px
      text-align justify
    .circle
      border-radius 100%
      border 2px solid font-white
      width 80px
      min-height 80px
      margin 0 auto
      line-height 50px
      padding 20px
      position relative
      i
        position absolute
        left 0
        right 0
        top 35px
