body
  font-size 16px
  width 100%
  app-bg(page-bg, font-black)
  font-family 'Open Sans', sans-serif
  background-color #FFF

.container
  display flex
  flex 1 1 auto
  justify-content flex-start
  flex-col-wrap()

.row
  flex-row()
  flex 1 1

.col
  flex-col()
  flex 1 1

.p-sm
  padding 10px

.m-t-lg
  margin-top 25px

.text-center
  text-align center

.title-underline
  border-bottom solid 2px font-white
  display inline
  padding-bottom 3px

.blue-underline
  padding-bottom 3px
  border-bottom solid 2px font-blue
  display inline

.text-blue
  text-color(font-blue)

.blue-container
  width 100%
  height 10px
  background-color font-blue
  margin-top 10px
  margin-bottom 10px

@media (max-width: 600px)
  .row
    flex: 1 1 auto
  .col
    flex 1 1 auto
