font-black = rgb(24, 24, 24);
font-white = rgb(255, 255, 255);
font-blue = rgb(0, 105, 167);

slide-xs = 15vh;
slide-sm = 50vh;
slide = 70vh;
intro-h = 80vh;
full-h = 100vh;

page-bg = rgb(255, 255, 255);
blue-block = rgb(0, 105, 167);
white-block = rgb(233, 239, 240);

app-bg(b, c)
  background-color b
  color c

text-color(c)
  color c

flex-col-wrap()
  flex-flow column wrap
  flex 1

flex-col()
  flex-flow column nowrap
  flex 1

flex-row-wrap()
  flex-flow row nowrap
  flex 1

flex-row-wrap()
  flex-flow row wrap
  flex 1

.wrapper-xs
  padding 10px

.text-left
  text-align left