.container-company
  app-bg(white-block, font-blue)
  padding 20px
  height auto
  .flex-company
    margin-top 3em
    min-height 50vh
    display flex
    flex-row-wrap()
    justify-content center
    align-items center
    color white-block
    article
      padding 10px
      text-align justify
      color font-black
    .hexagon
      width 100px
      height 55px
      background blue-block
      position relative
      margin 50px auto
      &:before
        content ""
        position absolute
        top -25px
        left 0
        width 0
        height 0
        border-left 50px solid transparent
        border-right 50px solid transparent
        border-bottom 25px solid blue-block
       &:after
        content ""
        position absolute
        bottom -25px
        left 0
        width 0
        height 0
        border-left 50px solid transparent
        border-right 50px solid transparent
        border-top 25px solid blue-block

@media (max-width: 800px)
  .container-service
    .col
      flex 1 1 auto