.contact-container
  min-height 50vh
  display flex
  flex-row-wrap()
  app-bg(blue-block, font-white)
  padding 20px
  color white-block

.contact-info
  margin-top 10px
  text-align left
  .follow-us
    display flex
    flex-flow row wrap
    justify-content flex-start
    align-items center
    .networks
      margin-left 10px
      a
        padding 1rem 1rem
        i
          transition all ease 0.3s
          &:hover,
          &:active,
          &:focus
            transform scale(1.5)
  p
    white-space pre-line
    line-height 1.5em
  span
    display block
    padding 2px
  a
    text-decoration none
    color white-block
    cursor pointer

.contact-form
  text-align center
  .login
    position relative
    background font-blue
    display flex   flex-col()
    flex 1
    justify-content flex-end
    align-items center
    .input
      position relative
      width 60%
      margin 10px auto
      span
        position absolute
        display block
        color darken(font-blue, 10%)
        left 10px
        top 8px
        font-size 20px
      input
        width 100%
        padding 10px 5px 10px 40px
        display block
        border 1px solid font-black
        border-radius 4px
        transition 0.2s ease-out
        color darken(font-blue, 30%)
        &:focus
          padding 10px 5px 10px 10px
          outline 0
          border-color: font-black
      textarea
        width 100%
        padding 10px 5px 10px 40px
        display block
        border 1px solid font-black
        border-radius 4px
        transition 0.2s ease-out
        color darken(font-blue, 30%)
        &:focus
          padding 10px 5px 10px 10px
          outline 0
          border-color: font-black

.special-span
  font-size 1.5em
  font-weight bold

textarea
  resize none

@media (max-width: 600px)
  .contact-container
    flex-direction column-reverse
    flex-wrap wrap