#container-2
  position relative
  .buttons
    position absolute
    z-index 10
    font-size 0px
    top (slide / 2.2)
    width 100%
    .controls
      display inline-block
      background transparent
      border none
      font-size 50px
      cursor pointer
      color #8c8a8a
      opacity 1
      &:hover
        i
          color darken(#464646, 20%) !important
          transition color 0.5s ease
    #next
      float right
  #slides
    position relative
    height slide
    padding 0px
    margin 0px
    list-style-type: none
    ul, li, img
      width 100%
      height 100%
  .slide
    position absolute
    left 0px
    top 0px
    width 100%
    height 100%
    opacity 0
    z-index 1
    transition opacity 1s
  .showing
    opacity 1
    z-index 2

@media (max-width: 991px)
  #container-2
    #slides
      height slide-sm !important
    .buttons
      top (slide-sm / 2.5) !important
@media (max-width: 468px)
  #container-2
    #slides
      height slide-xs
    .buttons
      top slide-xs !important
